NET "Clk_100M" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "Clk_100M" PERIOD = 10 ns HIGH 5 ns;
NET "UART_Rx" LOC =C4 | IOSTANDARD = LVCMOS33 | TIG;
NET "UART_Tx" LOC = D4 | IOSTANDARD = LVCMOS33 | TIG;

NET "LED<7>" LOC = U6 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<6>" LOC = U7 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<5>" LOC = T4 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<4>" LOC = T5 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<3>" LOC = T6 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<2>" LOC = R8 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<1>" LOC = V9 | IOSTANDARD = LVCMOS33 | TIG;
NET "LED<0>" LOC = T8 | IOSTANDARD = LVCMOS33 | TIG;

NET "BTNS" LOC = V10 | IOSTANDARD = LVCMOS33 | TIG;

NET "SegmentDrivers<0>" LOC = N6 | IOSTANDARD = LVCMOS33 | TIG;
NET "SegmentDrivers<1>" LOC = M6 | IOSTANDARD = LVCMOS33 | TIG;
NET "SegmentDrivers<2>" LOC = M3 | IOSTANDARD = LVCMOS33 | TIG;
NET "SegmentDrivers<3>" LOC = N5 | IOSTANDARD = LVCMOS33 | TIG;

NET "SegmentDrivers<4>" LOC = M1 | IOSTANDARD = LVCMOS33 | TIG;
NET "SegmentDrivers<5>" LOC = L1 | IOSTANDARD = LVCMOS33 | TIG;
NET "SegmentDrivers<6>" LOC = N4 | IOSTANDARD = LVCMOS33 | TIG;
NET "SegmentDrivers<7>" LOC = N2 | IOSTANDARD = LVCMOS33 | TIG;

NET "SevenSegment<7>" LOC = M4 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<6>" LOC = L6 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<5>" LOC = M2 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<4>" LOC = K3 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<3>" LOC = L4 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<2>" LOC = L5 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<1>" LOC = N1 | IOSTANDARD = LVCMOS33 | TIG;
NET "SevenSegment<0>" LOC = L3 | IOSTANDARD = LVCMOS33 | TIG;