//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 12 17:51:17 2016
//! **************************************************************************

SCHEMATIC START;
COMP "BTNS" LOCATE = SITE "V10" LEVEL 1;
COMP "Seconds<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "Clk_100M" LOCATE = SITE "E3" LEVEL 1;
COMP "Seconds<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "Seconds<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "Seconds<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "Seconds<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "Seconds<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "hourUp" LOCATE = SITE "E16" LEVEL 1;
COMP "SegmentDrivers<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "SegmentDrivers<4>" LOCATE = SITE "M1" LEVEL 1;
COMP "SegmentDrivers<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "SegmentDrivers<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "SegmentDrivers<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "SegmentDrivers<7>" LOCATE = SITE "N2" LEVEL 1;
COMP "SegmentDrivers<6>" LOCATE = SITE "N4" LEVEL 1;
COMP "SegmentDrivers<5>" LOCATE = SITE "L1" LEVEL 1;
COMP "SevenSegment<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "SevenSegment<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "SevenSegment<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "SevenSegment<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "SevenSegment<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "SevenSegment<7>" LOCATE = SITE "M4" LEVEL 1;
COMP "PWM<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "SevenSegment<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "PWM<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "SevenSegment<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "PWM<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "PWM<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "PWM<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "PWM<5>" LOCATE = SITE "V7" LEVEL 1;
COMP "PWM<6>" LOCATE = SITE "V6" LEVEL 1;
COMP "PWM<7>" LOCATE = SITE "V5" LEVEL 1;
COMP "minUp" LOCATE = SITE "F15" LEVEL 1;
NET "Clk_100M_BUFGP/IBUFG" PERIOD = 10 ns HIGH 5 ns;
PIN SegmentDrivers_7_OBUF_pins<1> = BEL "SegmentDrivers_7_OBUF" PINNAME OUT;
PIN SegmentDrivers_6_OBUF_pins<1> = BEL "SegmentDrivers_6_OBUF" PINNAME OUT;
PIN SegmentDrivers_5_OBUF_pins<1> = BEL "SegmentDrivers_5_OBUF" PINNAME OUT;
PIN SegmentDrivers_4_OBUF_pins<1> = BEL "SegmentDrivers_4_OBUF" PINNAME OUT;
PIN SegmentDrivers_3_OBUF_pins<1> = BEL "SegmentDrivers_3_OBUF" PINNAME OUT;
PIN SegmentDrivers_2_OBUF_pins<1> = BEL "SegmentDrivers_2_OBUF" PINNAME OUT;
PIN SegmentDrivers_1_OBUF_pins<1> = BEL "SegmentDrivers_1_OBUF" PINNAME OUT;
PIN SegmentDrivers_0_OBUF_pins<1> = BEL "SegmentDrivers_0_OBUF" PINNAME OUT;
PIN SevenSegment_7_OBUF_pins<1> = BEL "SevenSegment_7_OBUF" PINNAME OUT;
PIN SevenSegment_6_OBUF_pins<1> = BEL "SevenSegment_6_OBUF" PINNAME OUT;
PIN SevenSegment_5_OBUF_pins<1> = BEL "SevenSegment_5_OBUF" PINNAME OUT;
PIN SevenSegment_4_OBUF_pins<1> = BEL "SevenSegment_4_OBUF" PINNAME OUT;
PIN SevenSegment_3_OBUF_pins<1> = BEL "SevenSegment_3_OBUF" PINNAME OUT;
PIN SevenSegment_2_OBUF_pins<1> = BEL "SevenSegment_2_OBUF" PINNAME OUT;
PIN SevenSegment_1_OBUF_pins<1> = BEL "SevenSegment_1_OBUF" PINNAME OUT;
PIN SevenSegment_0_OBUF_pins<1> = BEL "SevenSegment_0_OBUF" PINNAME OUT;
PIN Seconds_5_OBUF_pins<1> = BEL "Seconds_5_OBUF" PINNAME OUT;
PIN Seconds_4_OBUF_pins<1> = BEL "Seconds_4_OBUF" PINNAME OUT;
PIN Seconds_3_OBUF_pins<1> = BEL "Seconds_3_OBUF" PINNAME OUT;
PIN Seconds_2_OBUF_pins<1> = BEL "Seconds_2_OBUF" PINNAME OUT;
PIN Seconds_1_OBUF_pins<1> = BEL "Seconds_1_OBUF" PINNAME OUT;
PIN Seconds_0_OBUF_pins<1> = BEL "Seconds_0_OBUF" PINNAME OUT;
PIN PWM<7>_pins<0> = BEL "PWM<7>" PINNAME PAD;
PIN PWM<6>_pins<0> = BEL "PWM<6>" PINNAME PAD;
PIN PWM<5>_pins<0> = BEL "PWM<5>" PINNAME PAD;
PIN PWM<4>_pins<0> = BEL "PWM<4>" PINNAME PAD;
PIN PWM<3>_pins<0> = BEL "PWM<3>" PINNAME PAD;
PIN PWM<2>_pins<0> = BEL "PWM<2>" PINNAME PAD;
PIN PWM<1>_pins<0> = BEL "PWM<1>" PINNAME PAD;
PIN PWM<0>_pins<0> = BEL "PWM<0>" PINNAME PAD;
PIN BTNS_pins<0> = BEL "BTNS" PINNAME PAD;
PIN minUp_pins<0> = BEL "minUp" PINNAME PAD;
PIN hourUp_pins<0> = BEL "hourUp" PINNAME PAD;
PIN "SegmentDrivers_7_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_6_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_5_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_4_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_3_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_2_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_1_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_0_OBUF_pins<1>" TIG;
PIN "SevenSegment_7_OBUF_pins<1>" TIG;
PIN "SevenSegment_6_OBUF_pins<1>" TIG;
PIN "SevenSegment_5_OBUF_pins<1>" TIG;
PIN "SevenSegment_4_OBUF_pins<1>" TIG;
PIN "SevenSegment_3_OBUF_pins<1>" TIG;
PIN "SevenSegment_2_OBUF_pins<1>" TIG;
PIN "SevenSegment_1_OBUF_pins<1>" TIG;
PIN "SevenSegment_0_OBUF_pins<1>" TIG;
PIN "Seconds_5_OBUF_pins<1>" TIG;
PIN "Seconds_4_OBUF_pins<1>" TIG;
PIN "Seconds_3_OBUF_pins<1>" TIG;
PIN "Seconds_2_OBUF_pins<1>" TIG;
PIN "Seconds_1_OBUF_pins<1>" TIG;
PIN "Seconds_0_OBUF_pins<1>" TIG;
PIN "PWM<7>_pins<0>" TIG;
PIN "PWM<6>_pins<0>" TIG;
PIN "PWM<5>_pins<0>" TIG;
PIN "PWM<4>_pins<0>" TIG;
PIN "PWM<3>_pins<0>" TIG;
PIN "PWM<2>_pins<0>" TIG;
PIN "PWM<1>_pins<0>" TIG;
PIN "PWM<0>_pins<0>" TIG;
PIN "BTNS_pins<0>" TIG;
PIN "minUp_pins<0>" TIG;
PIN "hourUp_pins<0>" TIG;
SCHEMATIC END;

