//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 19 17:53:07 2016
//! **************************************************************************

SCHEMATIC START;
COMP "AUD_PWM" LOCATE = SITE "A11" LEVEL 1;
COMP "AUD_SD" LOCATE = SITE "D12" LEVEL 1;
COMP "SevenSegment<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "SevenSegment<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "SevenSegment<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "SevenSegment<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "SevenSegment<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "SevenSegment<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "SevenSegment<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "Clk_100M" LOCATE = SITE "E3" LEVEL 1;
COMP "SevenSegment<7>" LOCATE = SITE "M4" LEVEL 1;
COMP "SegmentDrivers<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "SegmentDrivers<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "SegmentDrivers<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "SegmentDrivers<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "SegmentDrivers<4>" LOCATE = SITE "M1" LEVEL 1;
COMP "SegmentDrivers<5>" LOCATE = SITE "L1" LEVEL 1;
COMP "BTNS" LOCATE = SITE "V10" LEVEL 1;
COMP "SegmentDrivers<6>" LOCATE = SITE "N4" LEVEL 1;
COMP "SegmentDrivers<7>" LOCATE = SITE "N2" LEVEL 1;
NET "Clk_100M_BUFGP/IBUFG" PERIOD = 10 ns HIGH 5 ns;
PIN SegmentDrivers_7_OBUF_pins<1> = BEL "SegmentDrivers_7_OBUF" PINNAME OUT;
PIN SegmentDrivers_6_OBUF_pins<1> = BEL "SegmentDrivers_6_OBUF" PINNAME OUT;
PIN SegmentDrivers_5_OBUF_pins<1> = BEL "SegmentDrivers_5_OBUF" PINNAME OUT;
PIN SegmentDrivers_4_OBUF_pins<1> = BEL "SegmentDrivers_4_OBUF" PINNAME OUT;
PIN SegmentDrivers_3_OBUF_pins<1> = BEL "SegmentDrivers_3_OBUF" PINNAME OUT;
PIN SegmentDrivers_2_OBUF_pins<1> = BEL "SegmentDrivers_2_OBUF" PINNAME OUT;
PIN SegmentDrivers_1_OBUF_pins<1> = BEL "SegmentDrivers_1_OBUF" PINNAME OUT;
PIN SegmentDrivers_0_OBUF_pins<1> = BEL "SegmentDrivers_0_OBUF" PINNAME OUT;
PIN SevenSegment_7_OBUF_pins<1> = BEL "SevenSegment_7_OBUF" PINNAME OUT;
PIN SevenSegment_6_OBUF_pins<1> = BEL "SevenSegment_6_OBUF" PINNAME OUT;
PIN SevenSegment_5_OBUF_pins<1> = BEL "SevenSegment_5_OBUF" PINNAME OUT;
PIN SevenSegment_4_OBUF_pins<1> = BEL "SevenSegment_4_OBUF" PINNAME OUT;
PIN SevenSegment_3_OBUF_pins<1> = BEL "SevenSegment_3_OBUF" PINNAME OUT;
PIN SevenSegment_2_OBUF_pins<1> = BEL "SevenSegment_2_OBUF" PINNAME OUT;
PIN SevenSegment_1_OBUF_pins<1> = BEL "SevenSegment_1_OBUF" PINNAME OUT;
PIN SevenSegment_0_OBUF_pins<1> = BEL "SevenSegment_0_OBUF" PINNAME OUT;
PIN AUD_PWM_OBUF_pins<1> = BEL "AUD_PWM_OBUF" PINNAME OUT;
PIN AUD_SD_OBUF_pins<1> = BEL "AUD_SD_OBUF" PINNAME OUT;
PIN BTNS_pins<0> = BEL "BTNS" PINNAME PAD;
PIN "SegmentDrivers_7_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_6_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_5_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_4_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_3_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_2_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_1_OBUF_pins<1>" TIG;
PIN "SegmentDrivers_0_OBUF_pins<1>" TIG;
PIN "SevenSegment_7_OBUF_pins<1>" TIG;
PIN "SevenSegment_6_OBUF_pins<1>" TIG;
PIN "SevenSegment_5_OBUF_pins<1>" TIG;
PIN "SevenSegment_4_OBUF_pins<1>" TIG;
PIN "SevenSegment_3_OBUF_pins<1>" TIG;
PIN "SevenSegment_2_OBUF_pins<1>" TIG;
PIN "SevenSegment_1_OBUF_pins<1>" TIG;
PIN "SevenSegment_0_OBUF_pins<1>" TIG;
PIN "AUD_PWM_OBUF_pins<1>" TIG;
PIN "AUD_SD_OBUF_pins<1>" TIG;
PIN "BTNS_pins<0>" TIG;
SCHEMATIC END;

